*{
    margin: 0;
}
header{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 17px;
    margin-top: 12px;
    margin-bottom: 12px;
    margin-left: 111px;
}
.menu{
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 14px;
    color: #FFF;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 111px;
    background-color: #6284FB;
    list-style: none;
}
.menu>ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
}
.review__1>ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
}
.menu>ul>li{
    display: inline;
    margin-right: 22px;
}
.wrap{
    margin: 60px 150px 146px 150px;
}

.review-list{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

.review-list__item{
    padding: 0px;
    height: 180px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.12);
    flex-basis: 800px;
    margin-bottom: 60px;
    margin-left: 49px;
    margin-right: 49px;
}

.review__contain{
    margin: 40px;
    display:flex;
    flex-wrap: no-wrap;
    justify-content: flex-start;
}
.review__1{
    width: 33%;
    height: 120px;
}
.review__name{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 15px;
}
.review__name-info{
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    margin-top: 4px;
    font-weight: 400;
}
.review__2{
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    width: 64%;
}
.review__3{
    width: 3%;
}
.topbutton {
    width: 55px;
    height: 55px;
    border:none;
    background:#6284FB;
    text-align:center;
    padding: 0px;
    position:fixed;
    bottom:50px;
    right:120px;
    cursor:pointer;
    border-radius: 5px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    -khtml-border-radius: 100px;
}
.button__add{
    margin: 16px;
}
#window__add {
    width: 550px;
    height: 266px;
    text-align: left;
    border: none;
    background-color: #FFF;
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    box-shadow: 0 0 0 9999px rgba(0,0,0, 0.3);
}
  #window__add:target {display: block;}
  .window__add-h{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 15;
    color: #000;
    margin-left: 59px;
    margin-top: 26px;
  }
.window__add-name{
    width: 191px;
    height: 26px;
    border: none;
    background-color: #EEEEEE;
    margin-left: 59px;
    margin-top: 10px;
    padding-left: 12px;
}
.window__add-name::placeholder{
    color: #C1C1C1;
    font-size: 11px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    
}
.window__add-text{
    width: 419px;
    height: 94px;
    border: none;
    background-color: #EEEEEE;
    margin-left: 59px;
    margin-top: 10px;
    padding-left: 12px;
    padding-top: 7px;
    resize: none;
   
}
.window__add-text::placeholder{
    color: #C1C1C1;
    font-size: 11px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}
.window__add-button{
    border: none;
    width: 157px;
    height: 31px;
    margin-top: 10px;
    background-color: #6284FB;
    margin-left: 334px;
    color: #FFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 400;

}